
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <h1 class="title">User Login</h1>
                    <form class="login-form">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input id="username-login" class="input" type="text" name="username" placeholder="Enter your username">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input id="password-login" class="input" type="password" name="password" placeholder="Enter your password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Login</button>
                            </div>
                            <div class btn>
                                <a href="/register" class="button is-link">Register</a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="js/login.js"></script>