<header>
  <nav>
    <ul class="navbar">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="/login">Log In</a></li>
    </ul>
  </nav>
</header>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXoe4FUK0t3O6Ip1gLJaxYPF4f75WOud0&libraries=places"></script>


<div id="map" style="width: 1080px; height: 480px;"></div>
<div>
  <!-- <input id="address" type="textbox" value="Berkeley,CA">
            <input type="button" value="Encode" onclick="codeAddress()"> -->
  <input id="searchTextField" type="text">
</div>

<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyBXoe4FUK0t3O6Ip1gLJaxYPF4f75WOud0",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>



<script src="js/map-script.js"></script>