<header>
  <nav>
    <ul class="navbar">
      <li class="navbar-item"><a href="#">Home</a></li>
      <li class="navbar-item active"><a href="#">Movies</a></li>
      <li class="navbar-item"><a href="/login">Log In</a></li>
    </ul>
  </nav>
</header>


<div id="map" style="width: 1080px; height: 480px;"></div>
<div>
  <!-- <input id="address" type="textbox" value="Berkeley,CA">
            <input type="button" value="Encode" onclick="codeAddress()"> -->
  <input id="searchTextField" type="text">
</div>





<script src="js/map-script.js"></script>