

<header>
  <nav>
    <ul class="navbar">
      <li class="navbar-item"><a href="#">Home</a></li>
      <li class="navbar-item active"><a href="#">Movies</a></li>
      <li class="navbar-item"><a href="/login">Log In</a></li>
    </ul>
  </nav>
</header>

<body>

<main>
  {{{ body }}}
</main>
    
</body>
</html>