<header>
    <nav>
        <ul class="navbar">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="/cardinfo">Map</a></li>
        </ul>
    </nav>
</header>

<head>
    <title>Registration Form</title>
</head>
<body>
    <h2>Registration Form</h2>
    <form action="/cardinfo" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <input type="submit" value="Register">
    
    </form>
</body>
