/* Carousel CSS code */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-size: 55px;
}

/* Carousel Sizing */
.swiper {
  width: 80%;
  padding-top: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Carousel Image Size Hover */
.swiper-slide img {
  transition: transform 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

/* NavBar Design */
.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
}

.navbar-item.active a {
  font-weight: bold;
}

/* Navbar CSS code */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a5e14a;
  padding: 10px;
}

.navbar-item {
  display: inline-block;
  margin-right: 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #333;
}

.navbar-item.active a {
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  transition: 0.3s;
}

/* Zip Code Search Bar */
.zipcode-search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.zipcode-search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.zipcode-search input:hover {
  border-color: black;
}

.zipcode-search button {
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.zipcode-search button:hover {
  background-color: #B9B9B9;
  color: black;
}

/* Zip Code Recommendation Style */
#recommendation {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#recommendation:hover {
  color: #333;
}
