<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Match Maker</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <h1>Movies</h1>
    <nav>
      <ul class="navbar">
        <li class="navbar-item active"><a href="#">Home</a></li>
        <li class="navbar-item"><a href="#">Movies</a></li>
        <li class="navbar-item"><a href="#">TV Shows</a></li>
        <li class="navbar-item"><a href="#">Sign Up</a></li>
      </ul>
    </nav>


    <!-- Zip Code Search -->
    <div class="zipcode-search">
      <input id="zipcode-input" type="text" placeholder="Enter ZIP code">
      <button id="search-button">Search</button>
    </div>

      <!-- Recommended Zip Code From Previous Search --> 
      <p id="recommendation"></p>


    <!-- API Swiper Movies -->
    <div class="swiper mySwiper">
      <div id="swiperWrapper" class="swiper-wrapper">
      <div class="swiper-pagination"></div>
    </div>
    

    <!-- API Movie Details -->
    <div class="swiper-slide">
      <img class="movie-poster" src="" alt=""/>
    </div>


        <!-- Initialize the Swiper carousel -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 15,
          stretch: 0,
          depth: 300,
          modifier: 1,
          slideShadows: true,
        },
        loop: true
      });
  </script>

    <script src="script.js"></script>
  </body>
</html>
